.container {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.circle1 {
    position: fixed;
    top: 550px;
    left: 1300px;
}

.circle2 {
    position: fixed;
    top: -80px;
    left: 40px;
}

.lines {
    position: fixed;
    top: 0px;
    width: 100%;
}

.line-top {
    position: fixed;
    top: 100px;
    right: 0px;
}

.line-bottom {
    position: fixed;
    bottom: 0px;
    width: auto;
    left: 0px;
}

img {
    max-width: 100%;    
    height: auto;
}