.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.circle1 {
    position: absolute;
    top: 550px;
    left: 1300px;
}

.circle2 {
    position: absolute;
    top: -80px;
    left: 40px;
}

.lines {
    position: absolute;
    width: 100%;
}

.line-top {
    position: absolute;
    top: 100px;
    right: 0px;
}

.line-bottom {
    position: absolute;
    bottom: 0px;
    width: auto;
    left: 0px;
}

img {
    max-width: 100%;    
    height: auto;
}